<footer>
    <section>
        <nav id="footer" class="gen_nav">
        <p>&copy; SA Trading 2023</p>
        <ul>
            <li><a href="/trades">Trades</a></li>
            <li><a href="/trades/about">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        </nav>
    </section>
    <section>
       <a href="#"><img src="/images/instagram.png"></a> 
       <a href="#"> <img src="/images/twitter-sign.png"></a>
       <a href="#"> <img src="/images/linkedin.png"></a>
    </section>
    
</footer>
</body>
</html>