<%- include('../partials/header.ejs')%>

    <p> Our website gives you the best experience to trade cars easily for free.
        Our team make sure that every transactions go smoothly. 
        In our inventory, you will find three different type of cars.
        SA trading was launched by Samba Diagne in January 2023.
            It has a young team which are very motivated to help their customers be 100% satisfied.
    </p>

    <%- include('../partials/footer.ejs')%>
