<%- include('./partials/header.ejs')%>
    <div class = "content">
        <h2>Welcome to SA Trading.</h2> 
        <p>
            Our website gives you the best experience to trade cars easily for free.
            Our team make sure that every transactions go smoothly. 
            In our inventory, you will find three different type of cars
            <br>
        </p>
        <ul>
            <li>***SUV***</li>
            <li>***SEDAN***</li>
            <li>***CONVERTIBLES***</li>
        </ul>
    </div>
    <%- include('./partials/footer.ejs')%>

